APP_ENV=development
APP_PORT=8000
APP_NAME=api-gateway

IDENTITY_SERVICE_URL=http://localhost:8080
USER_SERVICE_URL=http://localhost:8081
NOTIFICATION_SERVICE_URL=http://localhost:8082

REDIS_HOST=your-redis-host
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password

JWT_ACCESS_SECRET=replace-with-a-secure-secret

RATE_LIMIT_IP_MAX=30
RATE_LIMIT_IP_TTL=1m
RATE_LIMIT_DEVICE_MAX=10
RATE_LIMIT_DEVICE_TTL=1h