APP_ENV=development
APP_PORT=8081
APP_NAME=user-service

DATABASE_URL=postgres://postgres:password@localhost:5432/go_users?sslmode=disable

REDIS_HOST=your-redis-host
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password

RABBITMQ_HOST=your-rabbitmq-host
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=your-rabbitmq-username
RABBITMQ_PASSWORD=your-rabbitmq-password
RABBITMQ_VHOST=your-rabbitmq-vhost
RABBITMQ_EXCHANGE=notification.direct
RABBITMQ_QUEUE=user.sync
RABBITMQ_ROUTING_KEY=user.sync

JWT_ACCESS_SECRET=replace-with-a-secure-secret